/* For flashed messages; make them stand out using red and italics */

#messages {
    color: red;
    font-style: italic;
    font-size:20px;
}

a {
    color: orange;
    text-decoration: none;
}

h1 {
    font-size: 200%;
    color: teal;
}

.search {
    text-align: center;
    background-color: pink;
    font-size:  18px;
    /* border:2px solid coral; */
}

.navibar {
    width: 75%;
    margin-left:auto; 
    margin-right:auto; 
}

#content {
    background-color:lightyellow;
    font-size: 20px;
    padding: 30px;
    width: 1000px; 
    margin: 0 auto;
}

#title {
    font-size: 50px;
    text-align: center;
    color: navy;
    font-weight: bold;
}

.network td,
.network th,
.network tr {
    padding: 20px;
}

html {
    background-color:lightblue;
}
.alumnusProfile {
    /* not working, will fix later */
    background-color:#4CAF50; 
}
#postTT{
    background-color:blanchedalmond; 
    padding:10px;

}
span{
    text-align: center;
    font-size: 25px;
    color: cadetblue;
    background-color:cornsilk;
    font-weight: bold;
}