{% extends "base.html" %}
{% block title %} 
<title>WCSCDB::Alumnae Profile</title>
{% endblock %}
{% block main_content %} 
<h1>{{result['name']}}</h1>

    <table id="alumnusProfile">
      <tr>
        <td>Class year:</td><td> {{result['classYear']}}</td>
      </tr>
      <tr>
        <td>Email</td> <td>{{result['email']}}</td>
      </tr>
      <tr>
        <td>Areas of Interest:</td><td> {{result['interests']}}</td>
      </tr>
      <tr>
        <td>Introduction:</td><td> {{result['introduction']}}</td>
        
      </tr>
      <tr>
        <td>Career Description:</td><td> {{result['career']}}</td>
      </tr>
    </table>


    {% endblock %}