<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name="Yiran Wu, Hannah Kim" content="">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
</head>

<body>
    <div id="content">

        <div id="title">WCSCDB</div>

    <table class="navibar">
        <tr>
            <th>
                <a href="/">HOME</a>
            </th>
            <th>
                <a href="/profile/">MY</br>PROFILE</a>
            </th>
            <th>
                <a href="/network">ALUMNAE</br>NETWORK</a>
            </th>
            <th>
                <a href="/tips">INTERVIEW</br>TIPS</a>
            </th>
            <th>
                <a href="/">LOGOUT</a>
            </th>
        </tr>
    </table>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="messages">
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %} 

    {% block head_stuff %} 
    {% endblock %}

    
{% block main_content %}
{% endblock %}
</div>
</body>
</html>
 