{% extends "base.html" %}

    {% block head_stuff %} 
<h1>Welcome to Wellesley Computer Science Career Database!</h1>
<h2> - a Database of Career Development Resources for Wellesley CS Students and Alumni</h2>
<p> Login to access alumni profiles, interview tips, and recruiter/referral information. </p>
{% endblock %}

{% block main_content %}
<form method=post action="">

        <fieldset>
        <legend>Login</legend>
        <table>
        <tr><td><label for="username">Username:</label></td>
            <td><input type="text" name="username" id="username"></td></tr>
        <tr><td><label for="password">Password:</label></td>
            <td><input type="text" name="password" id="password"></td></tr>
        <tr><td><a href="{{ url_for('register') }}">Create an Account</a></td></tr>  
        <tr><td><input type='submit' value='login'></td></tr> 
        </table>
        </fieldset>
    
        
    
    </form>
{% endblock %}