{% extends "base.html" %}

{% block title %}
<title>WCWCDB::Alumnae Network</title>
{% endblock %}

{% block head_stuff %} 
<h1>Alumnae Network</h1>
<!-- the search bar for profiles -->
<form class="search" method="POST" action="">
<fieldset>
    <tr><td>
    <label>Search by
            <select required="" name="kind">
                <option disabled>Select</option>
                <option value="name">Name</option>
                <option value="year">Year</option>
                <option value="interest">Areas of Interest</option>
            </select>
    </label>
    </td></tr>
    <tr><td>
            <label for="keyword"> </label></td>
            <td><input type="text" name="keyword" id="keyword">
    </td></tr>
    </td>
      <tr><td>
      <input type="submit" value="Search">
      </td></tr>
      </fieldset>
</form>
{% endblock %}

{% block main_content %}
    <table id="network">
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Areas of Interest</th>
            <th>More!</th>
        </tr>
        {%if result%}
        {% for profile in result %}
        <tr>
            <td>{{profile['name']}}</td>
            <td>{{profile['classYear']}}</td>
            <td>{{profile['interests'][:50]+"..."}}</td>
            <td>
                <a href="{{url_for('alumnusPage', userID = profile['userID'])}}">
                        <button id="profileBttn" type="button">More</button></a>
                </td>
            
            
        </tr>
        {% endfor %}
        {% endif%}

    </table>

{% endblock %}