{% extends "base.html" %}
{% block main_content %} 
<h1>My Profile</h1>

<form method="POST" action="{{ url_for('profile') }}" id="profile">
    <fieldset>
    <table>
      <tr>
        <td><label for="userID">ID</label></td>
        <td>{{result['userID']}}</td>
      </tr>
      <tr>
        <td><label for="name">Name</label></td>
        <td>{{result['name']}}</td>
      </tr>
      <tr>
        <td><label for="year">Class Year</label></td>
        <td>{{result['classYear']}}</td>
      </tr>
      <tr>
        <td><label for="email">Email</label></td>
        <td>{{result['email']}}</td>
      </tr>
      <tr>
        <td><label for="interests">Areas of</br>Interest</label></td>
        <td><textarea id="interests" name="interests" rows="3" cols="50" maxlength=100 form="profile">{{result['interests']}}</textarea></td>
      </tr>
      <tr>
        <td><label for="introduction">Introduction</label></td>
        <td><textarea id="introduction" name="introduction" rows="5" cols="50" maxlength=200 form="profile">{{result['introduction']}}</textarea></td>
      </tr>
      <tr>
        <td><label for="career">Career</br>Description</label></td>
        <td><textarea id="career" name="career" rows="7" cols="50" maxlength=300 form="profile">{{result['career']}}</textarea></td>
      </tr>
      <tr>
        <td>Visibility</td>
        <td><input type="radio" id="visibility" name="visibility" {{visible}} value="Y"> Yes</td>
      </tr>
      <tr>
        <td></td>
        <td><input type="radio" id="visibility" name="visibility" {{invisible}} value="N"> No</td>
      </tr>
      <tr>
        <td><input type="submit" name="Submit" value="Update"></td>
      </tr>
    </table>
  </fieldset>
  </form>

    {% endblock %}

  
