{% extends "base.html" %}
{% block title %} 
<title>WCSCDB::Post::{{result['title']}}</title>
{% endblock %}
{% block main_content %} 

<h2>{{result['title']}}</h2>
<p>Author: {{result['authorID']}}</p>
<p>Posted: {{result['datetime']}}</p>
<fieldset>
    {{result['content']}}
</fieldset>
{% if session['userID']==result['authorID'] %}
<form method="POST" action="{{ url_for('tip',postID=result['postID']) }}">
    <input type="submit" name="submit" value="Edit">
    <input type="submit" name="submit" value="Delete">
</form>
{% endif %}

{% endblock %}