{% extends "base.html" %}

{% block title %}
<title>WCSCDB::Posts</title>
{% endblock %}

{% block head_stuff %} 
<h1>Interview Tips</h1>
<!-- the search bar for interview tips -->
<form class="search" method="POST" action="{{ url_for('tips') }}">
<fieldset>
    <tr><td>
    <label>Search by
            <select required="" name="kind">
                <option value="">choose one</option>
                <option value="author">Author Name</option>
                <option value="keyword">Keyword</option>

            </select>
    </label>
    </td></tr>
    <tr><td>
            <label for="searchWord"> </label></td>
            <td><input type="text" name="searchWord" id="searchWord">
    </td></tr>
      <tr><td>
      <input type="submit" value="search">
      </td></tr>
      </fieldset>
</form>
<p></p>
<a href="{{ url_for('write') }}" class="writePost"> Write a Post </a>
<p></p>
{% endblock %}

{% block main_content %}
    {% if posts %}
    <table id="tips">
            {% for p in posts %}
            <tr>
            <td id='postTT'>
                <a href="{{ url_for('tip', postID=p['postID']) }}" class='postTT'>{{p['title']}}</a>
                </br><em>by {{p['name']}}, posted at {{p['datetime']}}</em>
            </td>
        </tr>
            {% endfor %}
     </table>
    {% endif %}
{% endblock %}