{% extends "base.html" %}

{% block head_stuff %} 
<!-- the search bar for interview tips -->
<form class="search" method="POST" action="">
<fieldset>
    <tr><td>
    <label>Search by
            <select required="" name="kind">
                <option value="">choose one</option>
                <option value="author">Author Name</option>
                <option value="keyword">Keyword</option>

            </select>
    </label>
    </td></tr>
    <tr><td>
            <label for="searchWord"> </label></td>
            <td><input type="text" name="searchWord" id="searchWord">
    </td></tr>
      <tr><td>
      <input type="submit" value="search">
      </td></tr>
      </fieldset>
</form>
<p></p>
<!-- form to submit posts  -->
<form method="POST" action="" id='post'>
<fieldset>
    <legend>Write a Post</legend>
    <table>
        <tr>
           <td> <label for="postTitle">Title:</label> </td>
           <td> <textarea id="postTitle" name="postTitle" rows="1" cols="50" maxlength=50 form="post"></textarea></td>
            </tr>

            <tr>
           <td><label for="article">Content:</label></td> 
          <td><textarea id="article" name="article" rows="8" cols="50" maxlength=1000 form="post"></textarea> </td>
        </tr>
        <tr>
            <td><input type="submit" value="submit" form='post'></td>
              </tr>
    </table>
</fieldset>
</form>
{% endblock %}
{% block main_content %}
{% if posts %}
            {% for p in posts %}
                <div id='postTT'><span>{{p['title']}}</span>
                </br><em>by {{p['name']}}, {{p['datetime']}}</em>
                    <div>
                        {{p['content']}}
                    </div>
                </div>
              
            {% endfor %}

        {% endif %}
{% endblock %}